.form-container{
  background-color: white;
  border: 1px solid black;
  width:  300px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 15px rgb(2,231,232,0.2);
    
}
.form-container button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0px;
}
.form-container button:hover {
  background-color: darkblue;
}

#birthdate{
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: -10px;

}
.form-container label{
  font-size: 16px;
  font-weight: bold;

}
.input{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  margin-bottom: 5px;

}
.form-parent-container{
  display: flex; 
  justify-content: center; 
  gap: 20px ; 
  margin-top:10px;
}
#dashboardText{
  text-align: center;
}

#agecalculator{
  background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
  url("/Age-Course-BMI_Calculator/Img/age.jpg");
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;

}

#bmicalculator{
  background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
  url("/Age-Course-BMI_Calculator/Img/bmi.jpg");
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;

}

#coursecalculator{
  background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
  url("/Age-Course-BMI_Calculator/Img/grade.jpg");
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;

}

.selectionlable{
  color: white; 
  margin-bottom:10px;
}